@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&amp;display=swap");

:root {
  --main-color: rgb(252, 143, 0);
}

* {
    box-sizing: border-box;
}

.grecaptcha-badge{
    display: none !important;
}
body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: auto;
    background-image: url(/images/bg-home-pc.png);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img{
    max-width: 100%;
}
.main {
    background: linear-gradient(180deg, rgba(56, 56, 56, 0.45) 0%, rgba(29, 41, 58, 0.45) 44.5%, rgba(255, 255, 255, 0.45) 100%);
    height: 90vh;
    overflow: hidden;
    max-width: 480px;
    width: 100%;
    padding: 20px 15px;
    margin: auto;
    border: 1px solid #5E5E5E;
    border-radius: 20px;
    margin-top: 5vh;
    /*border-image-source: linear-gradient(180deg, #5E5E5E 0%, #707070 0.01%, #656565 100%);*/
}

.logo-thumb, .curious-thumbnail {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
}
.wrap-auth_header_logo{
    max-width: 180px;
    height: auto;
}
.curious-thumbnail img{
    max-width: 100%;
    height: auto;
}
.text-sp p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #fff;
}
.form-body {
    max-height: 100%;
    height: 100%;
}
.input-form, .layer-form {
    margin-bottom: 1rem
}
.input-group {
    height: 100%;
    border: 0;
    border-radius: 24px;
    padding: 12px;
}

.check-account {
    max-width: 100%;
    height: 46px;
    margin-bottom: 16px;
}
.btn-check-account, .wrap-from-instruct {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    border: 1px solid #fff;
    background: linear-gradient(90deg, #F7B922 0%, #F49A25 100%);
    color: #fff;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
}
.input-group-sms{
    display: flex;
    height: 42px;
}
.button-copy-content {
    border: 1px solid #FFFFFF;
    border-radius: 24px;
    background: #ffffff00;
    width: 100%;
    position: relative;
}
.form_item-btn {
    max-width: 96px;
    width: 100%;
    height: 100%;
    display: flex;
}
.button-copy-content .text {
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
}
.wrap-form-sms {
    display: flex;
    justify-content: space-between;
}
.wrap-form-send-sms, .wrap-form-sended-sms {
    background: linear-gradient(90deg, #F7B922 0%, #F49A25 100%);
    border-radius: 24px;
    height: 46px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 50%;
    cursor: pointer;
    color:#fff;
    text-transform: uppercase;
}
.wrap-from-instruct {
    display: none !important;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.animation-step-1{

}
.animation-step {
    height: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.pt-perspective {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
}
.pt-page-current,
.no-js .pt-page {
    visibility: visible;
    z-index: 1;
    height: 100%;
}

.no-js body {
    overflow: auto;
}

.pt-page-ontop {
    z-index: 99;
}

.pt-page-moveFromTop {
    -webkit-animation: moveFromTop .9s ease both;
    animation: moveFromTop .9s ease both;
}

.pt-page-moveToBottom {
    -webkit-animation: moveToBottom .9s ease both;
    animation: moveToBottom .9s ease both;
}

.text-sp p {
    text-align: center;
}

.from-content {
    background: #4F4F4F;
    border-radius: 16px;
    padding: 16px 8px;
    margin-top: 20px;
}
.account-show {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    line-height: 23.44px;
    text-align: center;
    color: #FC8F00;
    margin-bottom: 16px;
}

.telephone-account {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 23.44px;
    color: #fff;
    text-align: center;
    margin-bottom: 16px;
}

.wrap-form-send-sms, .wrap-form-sended-sms {
    height: 42px;
}

.title-text {
    font-family: Roboto;
    font-size: 14.9px;
    font-weight: 500;
    line-height: 17.46px;
    text-align: left;
    color: #fff;
    margin-bottom: 6px;
}

.input-group-sms {
    gap: 8px;
}
.footer-text{
    margin-top: 18px;
}
.text-note {
    font-style: italic;
}
.footer-text p {
    color: #fff;
    margin-bottom: 6px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}
.text-ss {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    color: #FC8F00;
    text-transform: uppercase;
}

@-webkit-keyframes moveToTop {
    from {
    }

    to {
        -webkit-transform: translateY(-100%);
    }
}

@keyframes moveToTop {
    from {
    }

    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-webkit-keyframes moveFromTop {
    from {
        -webkit-transform: translateY(-100%);
    }
}

@keyframes moveFromTop {
    from {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}
@-webkit-keyframes moveToBottom {
    from {
    }

    to {
        -webkit-transform: translateY(100%);
    }
}

@keyframes moveToBottom {
    from {
    }

    to {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(100%);
    }
}

@keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}
.shows-text {
    position: absolute;
    width: 100%;
    left: 0;
    top: -25px;
    color: #17ff76;
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner-container {
    text-align: center;
    color: white;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-bottom: 16px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 767.98px) {
    body {
        background-image: url(/images/bg-mobi-home.png);
    }
    .main {
        width: 100%;
        padding: 5px;
        max-width: 100%;
        height : 100vh;
        margin: 0;
        border-radius: 0;
    }
}