@{
    var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
    UserDTO LoginUser = ViewBag.LoginUser as UserDTO;
}

<div id="layoutSidenav_nav">
    
    <nav class="sidenav shadow-right sidenav-light">
        <div class="sidenav-menu">
            <div class="nav accordion" id="accordionSidenav">
                
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="sidenav-menu-heading">@LoginUser.ProjectCode Ver1.01</div>
                    @if (LoginUser.Role == "ADMIN")
                    {
                        <a class="nav-link" asp-controller="Site" asp-action="Index">
                            <div class="nav-link-icon"><i data-feather="globe"></i></div>
                            Cài đặt khuyến mãi
                        </a>

                        <a class="nav-link" asp-controller="PhoneNumber" asp-action="Index">
                            <div class="nav-link-icon"><i data-feather="grid"></i></div>
                            Cài đặt thiết bị
                        </a>

                        <a class="nav-link" asp-controller="LogAccount" asp-action="Index">
                            <div class="nav-link-icon"><i data-feather="bar-chart"></i></div>
                            Danh sách IP/FP Account
                        </a>
                        
                        <a class="nav-link" asp-controller="SMS" asp-action="Index">
                            <div class="nav-link-icon"><i data-feather="mail"></i></div>
                            Yêu cầu nhận thưởng
                        </a>

                        <a class="nav-link" asp-controller="SMSRawData" asp-action="Index">
                            <div class="nav-link-icon"><i data-feather="mail"></i></div>
                            Tin nhắn đến
                        </a>
                    }
                    @if (LoginUser.Role == "CUSTOMER")
                    {
                        <a class="nav-link" asp-controller="LogAccount" asp-action="Index">
                            <div class="nav-link-icon"><i data-feather="bar-chart"></i></div>
                            Danh sách IP/FP Account
                        </a>

                        <a class="nav-link" asp-controller="SMS" asp-action="Index">
                            <div class="nav-link-icon"><i data-feather="mail"></i></div>
                            Yêu cầu nhận thưởng
                        </a>

                        <a class="nav-link" asp-controller="SMSRawData" asp-action="Index">
                            <div class="nav-link-icon"><i data-feather="mail"></i></div>
                            Tin nhắn đến
                        </a>
                    }
                }
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
        <!-- Sidenav Footer-->
        <div class="sidenav-footer">
            <div class="sidenav-footer-content">
                <div class="sidenav-footer-subtitle">Logged in as:</div>
                    <div class="sidenav-footer-title">@LoginUser.Role</div>
            </div>
        </div>
        }
    </nav>
</div>