<div class="layer-form">
    <div class="layer-form_background"></div>
    <div class="layer-form_content">
        <div class="form-step">
            <img src="./images/img-top-mb.png" alt="">
        </div>
        <div style="position: relative;">
            <div class="layer-form_background2"></div>
            <div class="layer-form_form">
                <div class="layer-form_form_item">
                    <div class="layer-form_form_title">
                        TÀI KHOẢN HỘI VIÊN
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input class="layer-form_form_input" placeholder="Tài khoản đăng nhập" id="userName" />
                            <span class="layer-form_form_item-btn " id="btnCheck">
                                <button class="btn-submit">Kiểm tra</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="layer-form_form_item">
                    <div class="layer-form_form_title">
                        SỐ ĐIỆN THOẠI ĐĂNG KÝ
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input class="layer-form_form_input" placeholder="Số điện thoại" id="phone" disabled />
                        </div>
                    </div>

                </div>
                <div class="layer-form_form_item">
                    <div class="layer-form_form_title">
                        NỘI DUNG TIN NHẮN
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input class="layer-form_form_input" placeholder="Nội dung gửi đi" id="content" disabled />
                            <span class="layer-form_form_item-btn ">
                                <button class="btn-submit button-copy button-copy-content" id="btnCopyContent" data-clipboard-text="">Sao chép</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="layer-form_form_item">
                    <div class="layer-form_form_title">
                        GỬI ĐẾN SỐ ĐIỆN THOẠI
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input class="layer-form_form_input" placeholder="Số điện thoại nhận nội dung" id="contentPhone" disabled />
                            <span class="layer-form_form_item-btn ">
                                <button class="btn-submit button-copy  button-copy-content" id="btnCopyContentPhone" data-clipboard-text="">Sao chép</button>
                            </span>
                        </div>
                    </div>
                </div>
                <input id="verifycode" hidden />
                <input id="oldphone" hidden />
                <input id="regfingerprint" hidden />

            </div>

            <div class="wrap-form-text">
                <div class="form-text-1">!Lời nhắc nhở!</div>
                <div class="form-text-2">
                    Sau khi kiểm tra và lấy nội dung cần gửi vui lòng ấn vào NHẤN VÀO GỬI SMS XÁC
                    MINH sau đấy dùng điện thoại của mình nhắn 1 tin vào số yêu cầu ở trên. Sau khi gửi tin cho hệ thống vui
                    lòng ấn xác nhận ĐÃ GỬI TIN NHẮN ở dưới (lưu ý không làm mới giao diện trước khi thao tác xong các bước)
                </div>
            </div>
        </div>

        <div class="wrap-form-sms">
            <div class="wrap-form-send-sms form-step_wrap-btn" id="wrap-form-send-sms">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="20" viewBox="0 0 28 20" fill="none">
                    <path d="M14.1176 19.9977C10.3489 19.9977 6.58098 19.9986 2.81221 19.9977C1.39483 19.9977 0.682582 19.2867 0.681696 17.8726C0.680809 12.6231 0.680809 7.37443 0.681696 2.12576C0.681696 0.709032 1.39305 0.000667429 2.81221 0.000667429C10.3639 -0.000222476 17.9157 -0.000222476 25.4674 0.000667429C26.8812 0.000667429 27.5997 0.715262 27.6006 2.12665C27.6023 7.37532 27.6023 12.624 27.6006 17.8726C27.5997 19.2849 26.8821 19.9968 25.4674 19.9977C21.6844 19.9986 17.9006 19.9977 14.1176 19.9977ZM2.07691 1.48058C2.20996 1.63186 2.24278 1.68081 2.28624 1.71641C5.75787 4.59614 9.22506 7.48032 12.7047 10.3503C13.5961 11.0853 14.727 11.056 15.6344 10.3058C19.0643 7.46965 22.4889 4.62551 25.9144 1.78315C25.988 1.72175 26.0466 1.64254 26.1903 1.4877C25.9322 1.4352 25.7574 1.36934 25.5827 1.36934C17.96 1.364 10.3373 1.364 2.71465 1.36934C2.53636 1.36845 2.35897 1.42897 2.07691 1.48058ZM3.37811 18.605C10.599 18.605 17.6975 18.605 24.8705 18.605C24.7152 18.4733 24.6221 18.3852 24.5192 18.3078C21.7128 16.2076 18.9082 14.1057 16.0912 12.0188C15.9625 11.9236 15.7027 11.9067 15.5465 11.9655C14.6197 12.3152 13.6972 12.3445 12.7836 11.9628C12.5131 11.8498 12.3357 11.8836 12.1068 12.0553C9.53018 13.9944 6.94553 15.9229 4.36354 17.854C4.0593 18.0818 3.76039 18.314 3.37811 18.605ZM26.1929 17.854C26.1929 12.9782 26.1929 8.19403 26.1929 3.32803C23.0947 5.89718 20.0559 8.41562 16.9808 10.9661C20.071 13.2763 23.0965 15.5384 26.1929 17.854ZM11.2997 10.9652C8.20592 8.40138 5.16891 5.88472 2.09731 3.33959C2.09731 8.21361 2.09731 12.996 2.09731 17.8451C5.18488 15.5366 8.21125 13.2745 11.2997 10.9652Z" fill="white" />
                </svg>
                <span>NHẤN GỬI SMS XÁC MINH</span>
            </div>
            <div class="wrap-form-sended-sms form-step_wrap-btn" id="wrap-form-sended-sms">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="26" viewBox="0 0 35 26" fill="none">
                    <g clip-path="url(#clip0_23_431)">
                        <path d="M3.74479 21.0468C4.17899 20.7176 4.51949 20.4558 4.86301 20.1991C7.79558 18.0136 10.7312 15.8332 13.6577 13.6397C13.9166 13.4454 14.1181 13.4071 14.4263 13.535C15.465 13.9668 16.5117 13.9336 17.5644 13.538C17.7417 13.4715 18.0369 13.4907 18.183 13.5984C19.6507 14.6816 21.1165 15.7688 22.5803 16.857C22.7939 16.3788 23.0588 15.9298 23.3721 15.5181C21.9849 14.4853 20.5957 13.4504 19.1944 12.4075C22.6881 9.52338 26.1385 6.67349 29.6573 3.76723C29.6573 6.82147 29.6573 9.84854 29.6573 12.8806C30.2144 12.9521 30.7494 13.09 31.2561 13.2873C31.2561 9.66029 31.2571 6.03426 31.2561 2.40722C31.2561 0.809631 30.4401 0.0012738 28.8333 0.0012738C20.2562 0.000267131 11.6791 0.000267131 3.10207 0.0012738C1.49021 0.0012738 0.682274 0.802584 0.682274 2.40521C0.681267 8.34256 0.681267 14.2799 0.682274 20.2173C0.682274 21.8179 1.49223 22.6212 3.10207 22.6212C7.38254 22.6222 11.662 22.6212 15.9425 22.6212C18.194 22.6212 20.4456 22.6212 22.6982 22.6212C22.4534 22.1269 22.266 21.5984 22.1471 21.0457C16.0271 21.0468 9.92524 21.0468 3.74479 21.0468ZM2.98924 1.54853C11.6469 1.54349 20.3046 1.54349 28.9622 1.54853C29.1607 1.54853 29.3591 1.62302 29.6523 1.68242C29.4901 1.85657 29.4236 1.94717 29.339 2.01663C25.4484 5.23194 21.5598 8.44926 17.6631 11.6575C16.6336 12.5061 15.3481 12.5394 14.3357 11.7079C10.3846 8.46235 6.44666 5.19973 2.50467 1.94214C2.45531 1.90187 2.41804 1.8465 2.26693 1.67537C2.58728 1.61698 2.78876 1.54853 2.98924 1.54853ZM2.2901 20.1871C2.2901 14.7017 2.2901 9.29185 2.2901 3.77831C5.77875 6.65739 9.22811 9.50425 12.7419 12.4045C9.23416 15.0168 5.79688 17.5757 2.2901 20.1871Z" fill="white" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M28.7907 13.727C25.5408 13.727 22.9004 16.3655 22.9004 19.613C22.9004 22.8605 25.5408 25.499 28.7907 25.499C32.0406 25.499 34.681 22.8605 34.681 19.613C34.681 16.3655 32.0406 13.727 28.7907 13.727ZM32.5876 17.6339C31.4251 18.5047 30.3089 19.4368 29.241 20.4214C28.97 20.671 28.7031 20.9237 28.4381 21.1794C28.1651 21.4431 27.8669 21.8659 27.4498 21.8659C27.058 21.8659 26.7185 21.4673 26.4334 21.2378C26.1412 21.0032 25.8501 20.7687 25.5579 20.5331C25.3081 20.3318 25.3504 19.9039 25.5579 19.6966C25.8007 19.4539 26.1463 19.4962 26.3951 19.6966C26.6258 19.8828 26.8565 20.068 27.0882 20.2542C27.202 20.3459 27.3159 20.4375 27.4307 20.5291C27.7138 20.2593 27.9848 19.9744 28.2699 19.7096C28.6517 19.3553 29.0405 19.007 29.4344 18.6657C30.2615 17.951 31.1158 17.2685 31.9912 16.6121C32.2481 16.4198 32.6541 16.5729 32.8012 16.8245C32.9745 17.1235 32.8435 17.4426 32.5876 17.6339Z" fill="white" />
                    </g>
                    <defs>
                        <clipPath id="clip0_23_431">
                            <rect width="34" height="25.5" fill="white" transform="translate(0.68103)" />
                        </clipPath>
                    </defs>
                </svg>
                <span>ĐÃ GỬI TIN NHẮN</span>
            </div>
            <div class="wrap-from-instruct form-step_wrap-btn" id="wrap-from-instruct">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="28" viewBox="0 0 22 28" fill="none">
                    <path d="M13.7449 1.54603C13.7449 1.17155 13.7417 0.831873 13.7455 0.492747C13.75 0.149753 13.9142 0.00283535 14.3112 0.00228302C16.0217 -0.000478595 17.7315 -0.00103092 19.442 0.00228302C19.8525 0.00283535 20.0199 0.155829 20.0244 0.513182C20.0282 0.843472 20.025 1.17376 20.025 1.54216C20.3431 1.54216 20.6382 1.54216 20.9325 1.54216C21.5264 1.54271 21.6483 1.64545 21.6483 2.15137C21.6483 7.15046 21.6483 12.1495 21.6483 17.1486C21.6483 18.7045 21.6438 20.2604 21.6496 21.8163C21.656 23.6108 21.6714 25.4059 21.681 27.2004C21.6836 27.7129 21.5386 27.8361 20.9454 27.8361C15.4297 27.8361 9.91471 27.8366 4.39906 27.8361C2.23449 27.8355 0.681133 26.4956 0.681133 24.6304C0.681133 17.9561 0.680492 11.2813 0.682416 4.60701C0.683057 3.11573 1.74193 1.93652 3.35943 1.63219C3.62816 1.58138 3.91035 1.5637 4.18613 1.56315C7.26464 1.55873 10.3431 1.56149 13.421 1.56094C13.5153 1.56094 13.6096 1.55266 13.7449 1.54603ZM16.8356 7.23165C16.4706 7.71935 16.1256 8.1822 15.7799 8.64449C15.4034 9.14766 15.0282 9.65083 14.6498 10.1529C14.5158 10.3307 14.333 10.4373 14.0809 10.3633C13.8411 10.2926 13.7321 10.1325 13.7436 9.91263C13.7474 9.83917 13.7442 9.76516 13.7442 9.6917C13.7442 7.36255 13.7442 5.03285 13.7442 2.7037C13.7442 2.5971 13.7442 2.4905 13.7442 2.3828C10.6568 2.3828 7.61674 2.3828 4.55171 2.3828C4.55171 2.49547 4.55171 2.58605 4.55171 2.67719C4.55171 8.92894 4.55299 15.1807 4.54593 21.4319C4.54593 21.6799 4.61456 21.7567 4.916 21.7561C10.0686 21.7478 15.2206 21.75 20.3733 21.7495C20.4862 21.7495 20.5997 21.7401 20.7087 21.7357C20.7087 15.2624 20.7087 8.82234 20.7087 2.37562C20.4746 2.37562 20.2662 2.37562 20.0257 2.37562C20.0257 2.49879 20.0257 2.60704 20.0257 2.7153C20.0257 5.09084 20.025 7.46639 20.0269 9.84138C20.0269 10.0728 20.0135 10.3031 19.7043 10.3799C19.4087 10.4534 19.2291 10.297 19.0758 10.0982C18.4018 9.22388 17.7219 8.35287 17.044 7.4813C16.9856 7.40729 16.9228 7.33604 16.8356 7.23165ZM20.7311 22.5399C20.5638 22.5399 20.4374 22.5399 20.3117 22.5399C16.1326 22.5399 11.9536 22.5393 7.77387 22.5399C6.5662 22.5399 5.35789 22.5266 4.15086 22.5481C2.75656 22.573 1.65086 23.5617 1.63483 24.7613C1.61751 26.0709 2.76489 27.038 4.36315 27.0391C9.70755 27.0429 15.0513 27.0407 20.3957 27.0402C20.4996 27.0402 20.6035 27.0308 20.7164 27.0258C20.7222 26.9292 20.7299 26.8563 20.7305 26.7839C20.7318 25.3854 20.7311 23.9869 20.7311 22.5399ZM3.60443 2.41428C3.48385 2.43527 3.40048 2.443 3.32223 2.46399C2.29863 2.74347 1.6329 3.56311 1.6329 4.5573C1.63162 10.5136 1.63226 16.4698 1.63226 22.4261C1.63226 22.5045 1.63996 22.5824 1.64701 22.7055C1.7663 22.6177 1.83621 22.547 1.92408 22.5045C2.37687 22.2858 2.81941 22.0444 3.29593 21.8726C3.53837 21.7854 3.60956 21.7047 3.60956 21.4882C3.60314 15.2376 3.60443 8.98638 3.60443 2.73573C3.60443 2.63797 3.60443 2.53911 3.60443 2.41428ZM19.0822 0.815856C17.6052 0.815856 16.148 0.815856 14.6915 0.815856C14.6915 3.39852 14.6915 5.96075 14.6915 8.60472C15.2771 7.8265 15.8088 7.11676 16.3443 6.40979C16.6476 6.00991 17.0119 6.00715 17.3224 6.40316C17.8367 7.05877 18.3453 7.71714 18.8571 8.37385C18.9123 8.44455 18.977 8.51028 19.0822 8.62903C19.0822 5.98229 19.0822 3.40349 19.0822 0.815856Z" fill="white" />
                    <path d="M12.6372 10.5936C14.3791 10.5936 16.1204 10.5936 17.8623 10.5936C17.9694 10.5936 18.0772 10.5891 18.1823 10.5996C18.428 10.625 18.5729 10.7576 18.5967 10.9609C18.6204 11.1685 18.4896 11.3166 18.2606 11.3768C18.1413 11.4082 18.0079 11.4088 17.8809 11.4088C14.3759 11.4105 10.8709 11.4105 7.36655 11.4088C7.24982 11.4088 7.12796 11.4082 7.01765 11.3817C6.78035 11.3243 6.6322 11.1625 6.6989 10.9691C6.747 10.8283 6.92016 10.7068 7.06703 10.6096C7.13566 10.5643 7.27419 10.5936 7.38066 10.5936C9.13284 10.5936 10.885 10.5936 12.6372 10.5936Z" fill="white" />
                    <path d="M12.6501 17.0154C14.4029 17.0154 16.1551 17.0154 17.9079 17.016C18.0144 17.016 18.1529 16.9889 18.2209 17.0347C18.3678 17.1347 18.5576 17.2651 18.5788 17.3998C18.5967 17.5175 18.4351 17.6903 18.3004 17.7804C18.1997 17.8472 18.0157 17.8345 17.8688 17.8345C14.3741 17.8373 10.88 17.8367 7.38523 17.8362C7.3211 17.8362 7.25696 17.8384 7.19283 17.8351C6.88241 17.8196 6.68872 17.6677 6.68231 17.4357C6.67525 17.1933 6.87664 17.0204 7.19988 17.0171C7.97977 17.0099 8.7603 17.0132 9.54018 17.0126C10.5766 17.0121 11.613 17.0126 12.6501 17.0126C12.6501 17.0138 12.6501 17.0149 12.6501 17.0154Z" fill="white" />
                    <path d="M12.6572 12.7437C14.3985 12.7437 16.1404 12.7437 17.8817 12.7437C17.9779 12.7437 18.0747 12.7399 18.1696 12.7487C18.4307 12.7736 18.5846 12.9105 18.5974 13.127C18.6102 13.3458 18.4614 13.4916 18.2107 13.5385C18.0978 13.5595 17.9772 13.5568 17.8599 13.5568C14.3767 13.5579 10.8935 13.5573 7.41027 13.5573C6.90488 13.5573 6.68554 13.4347 6.68169 13.1536C6.67784 12.8691 6.89654 12.7437 7.40001 12.7437C9.15283 12.7432 10.905 12.7437 12.6572 12.7437Z" fill="white" />
                    <path d="M12.6098 15.7042C10.8787 15.7042 9.14836 15.7042 7.41735 15.7036C7.29998 15.7036 7.18005 15.7092 7.06589 15.6915C6.82474 15.6534 6.68941 15.5186 6.68492 15.3082C6.68043 15.085 6.81768 14.9436 7.07422 14.9033C7.17812 14.8873 7.28715 14.8928 7.39362 14.8928C10.8871 14.8923 14.3812 14.8923 17.8746 14.8928C18.3717 14.8928 18.6064 15.0243 18.6032 15.2988C18.6 15.5678 18.3531 15.7042 17.8657 15.7042C16.1141 15.7047 14.3619 15.7042 12.6098 15.7042Z" fill="white" />
                    <path d="M9.74533 7.12992C8.92312 7.12992 8.1009 7.13157 7.27869 7.12936C6.89451 7.12826 6.68351 6.98244 6.68287 6.72506C6.68158 6.46768 6.89451 6.31358 7.2742 6.31303C8.93979 6.31082 10.6054 6.31082 12.2716 6.31303C12.6545 6.31358 12.8694 6.46492 12.87 6.71899C12.8707 6.9725 12.6513 7.12826 12.2761 7.12936C11.4321 7.13102 10.5887 7.12992 9.74533 7.12992Z" fill="white" />
                    <path d="M9.73834 9.28014C8.91612 9.28014 8.09391 9.2818 7.27169 9.27959C6.89265 9.27848 6.67908 9.12659 6.68229 8.86921C6.68549 8.61183 6.89714 8.4627 7.28003 8.46215C8.94627 8.46049 10.6119 8.46049 12.2781 8.46215C12.6559 8.4627 12.8733 8.61901 12.8701 8.87363C12.8669 9.12549 12.6456 9.27904 12.2698 9.27959C11.4257 9.2818 10.5824 9.28014 9.73834 9.28014Z" fill="white" />
                </svg>
                <span>HƯỚNG DẪN</span>
            </div>
        </div>
    </div>
</div>

<div id="loadingOverlay" class="overlay">
    <div id="loadingSpinner" class="spinner-container">
        <div class="spinner"></div>
        <span id="text-time-count">
            Vui lòng chờ trong giây lát ...
        </span> 
    </div>
</div>