<div class="layer-form">
    <div class="layer-form_content">
        <div id="step-1" class="animation-step animation-step-1 pt-page-current pt-page-moveFromTop">
            <div class="form-body form-body-step-1">
                <div class="form-step-1">
                    <div class="curious-thumbnail">
                        <img src="./images/curious-bro.png" alt="ảnh 789BET" />
                    </div>
                    <div class="text-sp">
                        <p>Vui lòng xác nhập tài khoản của bạn </p>
                    </div>
                    <div class="from-content">
                        <div class="input-form">
                            <input class="input-group" id="account" value="" placeholder="Nhập tên tài khoản" />
                        </div>
                        <div class="check-account"> 
                            <button type="button" class="btn-check-account" id="btnCheck"> Kiểm Tra</button>
                        </div>
                        <div class="wrap-from-instruct" id="wrap-from-instruct">
                            <svg width="30" height="33" viewBox="0 0 30 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M27.6042 7.34351H8.55465C7.29693 7.34351 6.3501 8.47242 6.3501 9.88944V24.9534C6.3501 26.3704 7.29693 27.6052 8.55465 27.6052H21.5417L28.0706 32.7147L26.2335 27.6052H27.6042C28.8573 27.6052 29.8794 26.3704 29.8794 24.9534V9.88944C29.8794 8.47242 28.862 7.34351 27.6042 7.34351Z"
                            fill="white" />
                            <path d="M23.5246 6.16787V2.52242C23.5246 1.10539 22.5778 0 21.3201 0H2.27521C1.01749 0 0 1.10539 0 2.52242V17.5864C0 19.0034 1.01749 20.2616 2.27521 20.2616H5.17693V9.64868C5.17693 7.67896 6.63721 6.16787 8.55441 6.16787H23.5246Z"
                            fill="white" />
                            </svg> 
                            <span>HƯỚNG DẪN</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="step-2" class="animation-step animation-step-2">
         
        </div>
    </div>
</div>
<input id="verifycode" hidden />
<input id="oldphone" hidden />
<input id="regfingerprint" hidden />
<div id="loadingOverlay" class="overlay">
    <div id="loadingSpinner" class="spinner-container">
        <div class="spinner"></div>
        <span id="text-time-count">
            Vui lòng chờ trong giây lát ...
        </span> 
    </div>
</div>
@section Scripts {
    <script>
      
    </script>
}